name: wallet
services:
  
  wallet-db:
    image: mariadb:12
    container_name: wallet-db
    hostname: wallet-db
    restart: on-failure
    ports:
      - 127.0.0.1:3307:3307
    expose: 
      - 3307
    environment:
      MARIADB_HOST: wallet-db
      MARIADB_ROOT_PASSWORD: root
      MARIADB_USER: myuser
      MARIADB_PASSWORD:
      MYSQL_TCP_PORT: 3307
      MYSQL_UNIX_PORT: 3307
    healthcheck:
      test: ["CMD", "mariadb" ,"-uroot", "-proot", "--protocol=TCP", "-hlocalhost", "--port=3307",  "-estatus"]
      start_period: 60s
      #start_interval: 5s  # Not yet supported it seems, but upcoming: https://github.com/docker/compose/issues/10830
      interval: 5s         # Delete this line when start_interval becomes supported
      timeout: 2s
    volumes:
      # persist data files into `datadir` volume managed by docker
      - datadir:/var/lib/mysql
      # bind-mount any sql files that should be run while initializing
      - ./db-setup/scripts/:/docker-entrypoint-initdb.d/
  gateway:
    build:
      context: ./privacy-gateway-server-go
      dockerfile: Dockerfile
    ports:
      - "4567:4567"
    environment:
      - LOG_FORMAT=json
      - LOG_LEVEL=DEBUG
      - PORT=4567
      - SEED_SECRET_KEY=869663da4842c8cd5bca96047dd7dd09ff88a9907fd17c9fd585fa219ee987de
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:4567/health"]
      interval: 10s
      timeout: 3s
      retries: 5
    network_mode: host

volumes:
  datadir:
  cache:
    driver: local
